streamlit
pypdf
PyPDF2
pymupdf
pytesseract
pillow
openai
tiktoken
langchain
langchain-openai
langchain-community
langchain-core
langchain-chroma
langchain-ollama
langgraph
faiss-cpu
Document
google-generativeai
fastapi
uvicorn[standard]
python-multipart
